@import url(assets/fonts/thsarabunnew.css);

html {
  font-size: 0.90rem;
}

body {
  margin: 0;
  font-family: "THSarabunNew", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table td {
  padding: 0.59rem
}

